{% extends 'bookmark/base.html' %}

{% block main_area %}
  <h1>Linkmate</h1>
    {% if bookmark_list.exists %}
      {% for b in bookmark_list %}
      <!-- Blog Post -->
      <div class="card mb-4">
        {% if b.head_image %}
          <img class="card-img-top" src="{{ b.head_image.url }}" alt="{{ p }} head_image">
        {% else %}
          <img class="card-img-top" src="https://picsum.photos/seed/{{ b.id }}/800/200" alt="random_image">
        {% endif %}
          <div class="card-body">
            <h2 class="card-title">{{ b.title }}</h2>
            <p class="card-text">{{ b.url }}</p>
            <a href="{{ b.get_absolute_url }}" class="btn btn-primary">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            Posted on {{ b.created_at }}
            <a href="#">Start Bootstrap</a>
          </div>
      </div>
      {% endfor %}
    {% else %}
      <h3>아직 생성한 북마크가 없습니다</h3>
    {% endif %}
      <!-- Pagination -->
      <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
          <a class="page-link" href="#">&larr; Older</a>
        </li>
        <li class="page-item disabled">
          <a class="page-link" href="#">Newer &rarr;</a>
        </li>
      </ul>
{% endblock %}