{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link href="{% static '/bookmark/css/login.css' %}" rel="stylesheet" media="screen">
</head>
<body>
<div class="container">
    <h2>로그인</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_table }}
        <button type="submit" class="login">로그인</button>

    </form>
    {% block socialaccount_form %}
        {% providers_media_js %}
        <div class="social-login">
            <form method="get" action="{% provider_login_url 'google' %}">
                <button type="submit" class="social">
                    <i class="fab fa-google"></i>&nbsp;&nbsp; Google 로그인
                </button>
                <p>계정이 없으신가요? <a href="{% url 'register' %}">회원가입 하기</a></p>
            </form>
        </div>
    {% endblock %}
</div>
</body>
</html>
