/* 모달 배경색 변경 */
.modal-content {
    background-color: darkgray;
}

/* 모달 헤더 스타일 변경 */
.modal-header {
    background-color: darkgray;
    color: darkgray;
}

/* 버튼 스타일 변경 */
.modal-body .btn {
    background-color: darkgray;
    color: #fff;
}

/* 로그아웃 버튼 스타일 변경 */
.dropdown-menu .dropdown-item {
    color: darkgray;
    text-align: center;
}

.modal-body .btn {
    margin-bottom: 10px; /* 원하는 여백 크기로 조정 가능 */
}
